@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: unset;
}

// main {
//     max-width: 1440px;
//     // padding: 0 100px;
// }justify-content: space-around;
    // grid-template-columns: repeat(3, 1fr);